.input-form-error {
    font-size: 14px;
    font-weight: 700;
    color: #ff5b5b ;
    font-style: italic;
}

.w134 {
    min-width: 134px !important;
}

.w150 {
    width: 150px !important;
    
}

.w200 {
    width: 200px !important;
    
}

.w300 {
    width: 300px !important;
    
}

.w50 {
    min-width: 50px !important;
}

td{
    vertical-align: middle !important;
}

td img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

th{
    vertical-align: middle !important;
    text-align: center;
}

.order{
    vertical-align: middle !important;
    width: 50px !important;
    text-align: center;
    padding: 0 auto !important;
}

.order-status{
    vertical-align: middle !important;
    width: 60px !important;
    text-align: center;
}

.order-progress{
    vertical-align: middle !important;
    width: fit-content !important;
    text-align: center;
}

.sortable {
    cursor: move;
}

.video_url_container {
    display: none;
}